body {
    font-family: Georgia, Arial, Helvetica, sans-serif;
}

.hud {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

a-scene {
    z-index: 0;
}
#score-panel {
    font-size: 120%;
    position: fixed;
    top: 0;
    left: 30%;
    padding: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}